
.container-fluid{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    width: 95% !important;
}
.button-continue{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
}
.platform-container{
    max-height:450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    /* max-width: 30%; */
    /*margin-left: 0;*/
    margin-right:2%;
}
.crypto-container{
    max-height:450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    /*width:500px;*/
}
.crypto-container::-webkit-scrollbar{
    display: none;
}
.cryptos-view {
    display: flex;
    justify-content: center;
}
.crypt-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    border-bottom:1px solid black ;
    height: 90px;
    width: 80%;
}
.crypto-search
{
    width: 70%;
    margin: 3% auto auto;
   
}
.crypto{
    display: flex;
    align-items: center;
    padding-right: 20px;
    min-width: 300px;
}
.crypto img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.select-star{
    margin-right: 50px;
}
.crypto-name{
    font-size: 20px;
    width: 150px;
}
.crypto-symbol{
    font-size: 15px;
    width: 150px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.crypto-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 300px;
}