/client/.env
/server/.env
/client/.idea/
/server/.idea/
/server/node_modules/
/client/node_modules/
/.idea/
/client/workspace.xml
/AnalysisService/node_modules
/AnalysisService/package-lock.json
/AnalysisService/coverage