#quick-view {
    background-color: white;
    color: black;
    max-width:30%;
    margin-left: 2%;
}
.content-container {
    border-radius:4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#search-bar {
    width:70%;
    margin: 10% auto auto;
}
input {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#search-icon {
    margin: auto;
}
#table-bar {
    margin-top: 10%;
}
table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}