.crypto-search
{
    width: 30%;
    margin: 3% auto 3% auto;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-wrapper{
    height:270px;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 15px 50px;
}

.card-wrapper::-webkit-scrollbar{
    display: none;
}
